<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Data Obat</title>
</head>
<body>
    <nav>
        <a href="/">Apotek PAW</a>
    </nav>
    <div class="container">
        <h2>Tambah Data Obat</h2>
        <form action="/add" method="post" id="add">
            <label for="name">nama obat:</label>
            <input type="text" name="name" id="name" required>
            <br>
            <label for="manufacturer">pemanufaktur:</label>
            <input type="text" name="manufacturer" id="manufacturer" required>
            <br>
            <label for="description">keterangan:</label>
            <textarea name="description" id="description" cols="30" rows="10" form="add"></textarea>
            <br>
            <label for="stock">stok tersedia:</label>
            <input type="number" name="stock" id="stock" min="0" value="0" required>
            <br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>