<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Obat</title>
</head>
<body>
    <nav>
        <a href="/">Pharma-Web</a>
    </nav>
    <div class="container">
        <h2>Edit Data Obat</h2>
        <form action="/edit" method="post" id="edit">
            <label for="name">nama obat:</label>
            <input type="text" name="name" id="name" required
            value="<%= medicine.name %>">
            <br>
            <label for="manufacturer">pemanufaktur:</label>
            <input type="text" name="manufacturer" id="manufacturer" required
            value="<%= medicine.manufacturer %>">
            <br>
            <label for="description">keterangan:</label>
            <textarea name="description" id="description" cols="30" rows="10" form="edit"><%= medicine.description %></textarea>
            <br>
            <input type="hidden" name="_id" value="<%= medicine._id %>">
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>